@import '../../../styles/settings.scss';

.component {
  text-align: center;
  padding: ($base-size / 2);
}

.title {
  color: $color-dark;
  font-size: ($base-size * 1.2);
}

// .countdown {
//   color: #4D0C03;
//   font-size: ($base-size * 1.6);
// }

.promoDescription {
  color: #4D0C03;
  font-size: ($base-size * 1.6);
}
